@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}
.navbar{
    background-color: #1A0B2E;
     border-bottom: 2px solid #412567;}
nav{
    display: flex;
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    
}
.logo{
  stroke: 2px solid black;

}
.tech{
    color: #ffffff;
}
.Wave{
    background: linear-gradient(90deg , #F7E93F , #FB09B4 , #9100F8) ;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
nav .menu{
    display: flex;
    gap: 32px;
    list-style-type: none;
     padding: 36px 324px;
    align-items: center;

}
.menu a{
    text-decoration: none;
    color: #ffffff;

}
.btn{
     background: linear-gradient(55deg , #F7E93F , #FB09B4 , #9100F8);
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border: none;
    border-radius: 20px;
    color: #ffffff;

}
#banner{
    background-color: #1A0B2E;
}
.hero-bg{
    width: 100%;
    max-width: 1600px;
    height: 500px;
}
#about{
    justify-content: center;
    background-color: #1A0B2E;

}
.about-container{
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 180px 120px;
}
.about-text{
    text-align: center;

}
.about-title{
    font-size: 48px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 16px;

}
.about-paragraph{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom:80px ;
}
.about-card-container{
    justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
}

.about-card{
    text-align: center;
    margin-top: 80px;

}

.about-card .number{
    font-size: 48px;
    font-weight: 900;
    color: #00FF88;
    margin-bottom: 16px;
}
.about-card .fact{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #ffffff;
}
#why-choose{
    background-color: #412567;

}
.container{
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
    

}
.card-container{
    width: 75%;
    max-width: 1200;
    margin: o auto;
display: grid;
grid-template-columns: repeat(3 , 1fr);
grid-template-rows: repeat(3 , 1fr);
gap: 30px;


}
.cards{
    border: 2px solid #1A0B2E;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 5px;
}
.tall-card{
    grid-row: span 2;
}
@media screen and (max-width:576px) {
}


